/* Navbar Styling */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    flex-wrap: wrap;
    position: sticky;
    z-index: 1000;
}

.left {
    padding-left: 1rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-weight: 700;
    color: var(--secondary-text-color);
}

.logo {
    display: flex;
    gap: 5px;
}

.right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
}

.pages {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
}

.mx {
    list-style: none;
    align-items: center;
    color: var(--navbar-li-color);
    cursor: pointer;
}

.mx:hover {
    transform: scale(1.05);
    transition: .05s;
    color: var(--secondary-text-color);

}

a {
    color: inherit;
    text-decoration: inherit;
    cursor: pointer;
}

.mx-bar {
    font-size: 1.25rem;
    color: var(--navbar-li-color);
    cursor: default;
}

/* Download Section */
.download {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 1rem;
    margin-left: 1rem;
    margin-right: 0.5rem;
    gap: .5rem;
}

#theme-switch {
    scale: 0.75;
    height: 50px;
    width: 50px;
    padding: 0;
    border-radius: 50%;
    background-color: var(--hover-bg-color);
    border-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 20px;
    right: 20px;
}

#theme-switch svg {
    fill: var(--text-color);
    transition: transform 0.3s ease, fill 0.3s ease;
}

#theme-switch:hover svg {
    transform: scale(1.2);
    fill: var(--secondary-text-color);
}

#theme-switch svg:last-child {
    display: none;
}

.darkmode #theme-switch svg:first-child {
    display: none;
}

.darkmode #theme-switch svg:last-child {
    display: block;
}

.download-btn {
    cursor: pointer;
    position: relative;
    width: 80px;
    height: 32px;
    background: var(--hover-bg-color);
    text-align: center;
    border-radius: 32px;
    font-family: inherit;
    font-size: 12px;
    border: none;
    overflow: hidden;
    color: var(--secondary-color);
    transition: background 0.3s;
    padding: 0;
}

.download-btn .text {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transition: top 0.5s;
    font-size: 12px;
}

.icon {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 100%;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: top 0.5s;
    color: var(--secondary-color);
    font-size: 16px;
}

.download-btn .icon svg {
    width: 16px;
    height: 16px;
}

.download-btn:hover {
    background: var(--secondary-text-color);
}

.download-btn:hover .text {
    top: -100%;
}

.download-btn:hover .icon {
    top: 0;
}

.download-btn::before {
    position: absolute;
    content: attr(data-tooltip);
    width: 55px;
    height: 20px;
    background-color: #fff;
    font-size: 10px;
    color: #111;
    border-radius: 6px;
    line-height: 20px;
    bottom: 50px;
    left: calc(50% - 27.5px);
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s ease-in-out;
}

.download-btn:hover::before {
    opacity: 1;
    visibility: visible;
}