:root{
    --transition-time: 0.25s;
    --phone-margin: 2rem;
    --main-margin: 5rem;
    /* transition: var(--transition-time); */
}

@media (max-width: 485px) {
    .name {
        display: none;
        transition: var(--transition-time);
    }

    /* hero */
    .left-section {
        width: 70%;
        transition: var(--transition-time);
    }
    
    
}

@media (min-width: 100px) {
    /*navbar*/
    .left {
        margin-left: 1rem;
        margin-right: 0.5rem;
        transition: var(--transition-time);
    }
    .right {
        margin-right: .5rem;
        transition: var(--transition-time);
    }


    /* hero */
    .left-section {
        width: 40%;
        margin-left: var(--phone-margin);
        transition: var(--transition-time);
    }
    .right-section {
        padding-right: var(--phone-margin);
        transition: var(--transition-time);
    }
}

@media (min-width: 750px) {
    .page-list {
        display: none;
    }

    /*navbar*/
    .left {
        margin-left: var(--main-margin);
        margin-right: 0.5rem;
    }
    .right {
        margin-right: var(--main-margin);
    }


    /* hero */
    .left-section {
        width: 40%;
        margin-left: var(--main-margin);
        transition: var(--transition-time);
        gap: 1rem;
        
    }
    .section-btns{
        padding-top: 1.5rem;
    }
    .right-section {
        padding-right: var(--main-margin);
        transition: var(--transition-time);

    }
    
}

@media (max-width: 750px) {
    .mc {
        display: none;
    }

    .download {
        padding-right: 1rem;
    }

    .icon-menu {
        --gap: 5px;
        --height-bar: 2.5px;
        --pos-y-bar-one: 0;
        --pos-y-bar-three: 0;
        --scale-bar: 1;
        --rotate-bar-one: 0;
        --rotate-bar-three: 0;
        margin-right: 1rem;
        width: 25px;
        display: flex;
        flex-direction: column;
        gap: var(--gap);
        cursor: pointer;
        position: relative;
    }

    .bar {
        position: relative;
        height: var(--height-bar);
        width: 100%;
        border-radius: .5rem;
        background-color: var(--secondary-text-color);
    }

    .bar--1 {
        top: var(--pos-y-bar-one);
        transform: rotate(var(--rotate-bar-one));
        transition: top 200ms 100ms, transform 100ms;
    }

    .bar--2 {
        transform: scaleX(var(--scale-bar));
        transition: transform 150ms 100ms;
    }

    .bar--3 {
        bottom: var(--pos-y-bar-three);
        transform: rotate(var(--rotate-bar-three));
        transition: bottom 200ms 100ms, transform 100ms;
    }

    .check-icon:checked+.icon-menu>.bar--1 {
        transition: top 200ms, transform 200ms 100ms;
    }

    .check-icon:checked+.icon-menu>.bar--3 {
        transition: bottom 200ms, transform 200ms 100ms;
    }

    .check-icon:checked+.icon-menu {
        --pos-y-bar-one: calc(var(--gap) + var(--height-bar));
        --pos-y-bar-three: calc(var(--gap) + var(--height-bar));
        --scale-bar: 0;
        --rotate-bar-one: 45deg;
        --rotate-bar-three: -45deg;
    }

    /* FIN ICON-MENU */

    .page-list {
        background-color: var(--nav-list-bg-color);
        box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
        border-radius: 12px;
        position: absolute;
        backdrop-filter: blur(16px) saturate(180%);
        margin-left: 50%;
        margin-right: .5rem;
        display: none;
        /* display: flex; */
        align-items: center;
        justify-content: center;
        height: 30%;
        margin-top: 4.5rem;
        justify-content: center;
        align-content: center;
        align-items: center;
    }

    .m {
        color: var(--text-color);
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    /* hero */
    .first-section {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .left-section {
        width: 80%;
        margin-right: var(--phone-margin);
        padding-left: var(--phone-margin);
        padding-right: var(--phone-margin);
        gap: 2rem;
        background-color: var(--nav-list-bg-color-ops);
        box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
        border-radius: 12px;
        backdrop-filter: blur(16px) saturate(180%);
    }
    .left-section:hover{
        box-shadow: none;
        opacity: 95%;
        transition: var(--transition-time);
    }
    .right-section{
        display: none;
    }
}