@media (max-width: 455px) {
    .name {
        display: none;
    }
}

@media (min-width: 650px) {
    .page-list {
        display: none;
    }
}

@media (max-width: 660px) {
    .mc {
        display: none;
    }
    .download {
        padding-right: 1rem;
    }

    .icon-menu {
        --gap: 5px;
        --height-bar: 2.5px;
        --pos-y-bar-one: 0;
        --pos-y-bar-three: 0;
        --scale-bar: 1;
        --rotate-bar-one: 0;
        --rotate-bar-three: 0;
        margin-right: 1rem;
        width: 25px;
        display: flex;
        flex-direction: column;
        gap: var(--gap);
        cursor: pointer;
        position: relative;
    }

    .bar {
        position: relative;
        height: var(--height-bar);
        width: 100%;
        border-radius: .5rem;
        background-color: var(--secondary-text-color);
    }

    .bar--1 {
        top: var(--pos-y-bar-one);
        transform: rotate(var(--rotate-bar-one));
        transition: top 200ms 100ms, transform 100ms;
    }

    .bar--2 {
        transform: scaleX(var(--scale-bar));
        transition: transform 150ms 100ms;
    }

    .bar--3 {
        bottom: var(--pos-y-bar-three);
        transform: rotate(var(--rotate-bar-three));
        transition: bottom 200ms 100ms, transform 100ms;
    }

    .check-icon:checked+.icon-menu>.bar--1 {
        transition: top 200ms, transform 200ms 100ms;
    }

    .check-icon:checked+.icon-menu>.bar--3 {
        transition: bottom 200ms, transform 200ms 100ms;
    }

    .check-icon:checked+.icon-menu {
        --pos-y-bar-one: calc(var(--gap) + var(--height-bar));
        --pos-y-bar-three: calc(var(--gap) + var(--height-bar));
        --scale-bar: 0;
        --rotate-bar-one: 45deg;
        --rotate-bar-three: -45deg;
    }

    /* FIN ICON-MENU */

    .page-list {
        background-color: var(--nav-list-bg-color);
        box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
        margin-left: 50%;
        margin-right: .5rem;
        border-radius: 12px;
        display: none;
        /* display: flex; */
        align-items: center;
        justify-content: center;
        position: absolute;
        height: 30%;
        margin-top: 4.5rem;
        justify-content: center;
        align-content: center;
        align-items: center;
        backdrop-filter: blur(16px) saturate(180%);
    }

    .m {
        color: var(--text-color);
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    .first-section {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
}

/* hero-section */
@media (min-width: 650px) {
    .left-section {
        width: 40%;
    }
}

@media (max-width: 650px) {
    .left-section {
        width: 70%;
    }
    .right-section{
        display: none;
    }
}

@media (max-width: 405px) {
    .left-section {
        width: 80%;
    }
}