/* General Reset */
* {
    inset: 0;
    margin: 0;
    padding: 0;
}

/* Root Variables */
:root {
    --bg-color: #F7EDE8;
    --svg-color: #ffffff;
    --text-color: #000000;
    --text-color-ops: #ffffff;
    --navbar-li-color: #4B5563;
    --secondary-text-color: #A259FF;
    --secondary-color: #F9FAFF;
    --hover-bg-color: #1a1814;
    --next-theme-color: #5da600;
    --nav-list-bg-color: #ffffff1a;
    --nav-list-bg-color-ops: #00000033;
}
.darkmode{
    --bg-color: #081217;
    --svg-color: #000000;
    --text-color: #ffffff;
    --text-color-ops: #000000;
    --navbar-li-color: #b4aa9c;
    --secondary-text-color: #5da600;
    --secondary-color: #000106;
    --hover-bg-color: #E5E7EB;
    --next-theme-color: #A259FF;
    --nav-list-bg-color: #00000033;
    --nav-list-bg-color-ops: #ffffff1a;
}

/* Body Styling */
body {
    font-family: "Poppins", serif;
    background-color: var(--bg-color);
    color: var(--text-color);
}