.footer {
    background: var(--secondary-color);
    color: var(--text-color);
    text-align: center;
    padding: var(--main-margin) var(--phone-margin);
    font-family: 'Poppins', sans-serif;
    border-top: 2px solid var(--secondary-text-color);
    transition: var(--transition-time);
}

.footer .social-links a {
    color: var(--secondary-text-color);
    margin: 0 15px;
    text-decoration: none;
    font-weight: 600;
    font-size: 1rem;
    transition: color var(--transition-time);
}

.footer .social-links a:hover {
    color: var(--hover-bg-color);
}

.footer p {
    margin: 10px 0;
    font-size: 0.9rem;
    color: var(--navbar-li-color);
}