:root {
    --primary-color:#e2d9c8;
    --secondary-color: #eeebe6;
    --text-color: #655b4f;
    --heading-color: #000;
    --content-btn-color: #312b24;
    --heading-font: 'Arial', sans-serif;
    --body-font: 'Verdana', sans-serif;
}


.main-colour{
    font-family: var(--body-font);
    background-color: var(--primary-color);
    color: var(--text-color);
}
.header{
    background-image: url(../cafesite/Assets/barista-work-coffee-shop.jpg);
    background-size: cover;
    background-position: center;
    color: white;
    height: 100%;
}
.header-main{
    display: flex;
    align-items: center;
    justify-content: space-between; 
    padding: 5px;
    position: relative;
}
.name{
    text-transform: uppercase;
}
.logo-main{
    flex: 1px;
    display: flex;
    text-align: left;
    justify-content: left;
    align-items: center;
    font-size: 1.5em;
    line-height: 1;
    margin-left: 10px;
    width: 9rem;
    margin-right: auto;
    width: auto;
}
.pages{
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: center;
    text-transform: uppercase;
    padding: 3px;
    gap: 20px;
    margin: 0 auto;
}
#btn-2{
    scale: 0.5;
    padding: 0 50px;
    width: 160px;
    height: 64px;
    background: var(--heading-color);
    color: var(--primary-color);
    border: none;
    border-radius: 32px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    /* position: absolute; */
    z-index: 1;
    overflow: hidden;
}
#btn-2:hover {
    color: var(--text-color);
}
  
#btn-2:after {
    border: none;
    content: "";
    background: var(--secondary-color);
    position: absolute;
    z-index: -1;
    left: -20%;
    right: -20%;
    top: 0;
    bottom: 0;
    transform: skewX(-45deg) scale(0, 1);
    transition: all 0.5s;
}
  
#btn-2:hover:after {
    transform: skewX(-45deg) scale(1, 1);
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

.search {
    margin-left: auto;
    display: flex;
    align-items: center;
    border-radius: 15px;
    padding: 5px 10px;
}
.search-btn {
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px;
    border-radius: 0 15px 15px 0;
}
.search-btn i {
    font-size: 1.2rem;
    color: #fff;
}
.search-btn:hover i {
    color: #ff4800;
}
.header-text{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-top: 100px;
    margin-left: 100px;
    /* margin-bottom: 0px; */
    padding-bottom: 75px;
}
.header-p{
    margin: 0px;
}
.header-h1{
    margin: 0px;

}
.header-order{
    border-radius: 25px;
    margin-top: 10px;
    border: none;
    cursor: pointer;
    color: #fff;
}
.order-text{
    margin-left: 15px;
    margin-right: 15px;
    font-size: 10px;
    color: #000000;
}
.header-order:hover .order-text{
    color: var(--text-color);
}

/* header done */

.t-logo{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    align-content: center;
    padding: 2rem;
    margin-left: 120px;
    margin-right: 120px;
    margin-top: 0;
    /* background-color: #ff4800; */
}
.logo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    align-content: center;
    color: var(--text-color);
    padding-top: 1rem;
    /* background-color: aqua; */
}
.logo-text{
    font-size: 20px;
    align-items: center;
    justify-content: center;
}

/* t-logo done */

.content{
    background-color: #fff;
}
.st-text{
    color: var(--heading-color);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    padding-top: 35px;
}
.st-set-img{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

/* content done  */


.pic{
    position: relative;
    background-color: var(--secondary-color);
    border-radius: 8px;
}
.pic-img{
    margin: 10px;
    height: 20rem;
    width: 18rem;
    border-radius: 10px;
}
.pic-text{
    margin: 10px;
    align-items: center;
    justify-content: center;
}
.pic-heading{
    text-transform: capitalize;
    margin-bottom: 0px;
    padding: 0px;
}
.pic-des{
    margin: 0px;
    padding: 0px;
}
.price{
    position: absolute;
    bottom: 0px;
    margin-bottom: 10px;
}
.order{
    float: right;
    margin: 5px;
    margin-bottom: 10px;
    border-radius: 25px;
    border: none;
    cursor: pointer;
    background-color: var(--content-btn-color);
}
.order-text-2{
    margin-left: 15px;
    margin-right: 15px;
    font-size: 10px;
    color: #afa49e;
}
.order:hover .order-text-2{
    color: var(--text-color);
}
.heart-wrapper {
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
}

.heart-checkbox {
    display: none; /* Hide the checkbox */
}

.heart-icon {
    font-size: 1.5rem;
    color: white;
    transition: color 0.3s ease;
}

/* Change color when checkbox is checked */
.heart-checkbox:checked + .heart-icon {
    color: red;
}

/* content done */

.fill{
    background-image: url(/Full-Stack-Cource/Frontend-Cource/Cafe-Site/Assets/);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    padding: 100px;
    font-size: 2rem;
    /* background-color: #007bff; */
}
.fill-content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.fill-btn{
    margin-top: 5px;
    float: right;
    margin: 5px;
    border-radius: 25px;
    border: none;
    cursor: pointer;
    background-color: var(--content-btn-color);
}
.fill-btn-text{
    margin-left: 15px;
    margin-right: 15px;
    font-size: 10px;
    color: #afa49e;
}
.fill-btn:hover .fill-btn-text{
    color: var(--text-color);
}

/* fill done  */
.feedback{
    display: flex;
    align-items: center;
    border: 2px solid #e5e3e3;
    border-radius: 15px;
    padding: 5px 10px;
    background-color: white;
}
.feedback-input {
    border: none;
    outline: none;
    padding: 5px;
    font-size: 1rem;
    flex: 1;
    border-radius: 15px 0 0 15px;
}

.feedback-btn {
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px;
    border-radius: 0 15px 15px 0;
}

.feedback-btn i {
    font-size: 1.2rem;
    color: #333;
}

.feedback-btn:hover i {
    color: #007bff;
}

/* feedback done  */
.about{
    padding-top: .5rem;
    background-color: var(--content-btn-color);
    color: var(--primary-color);
    display: flex;
    justify-content: space-between;
}
.about-icon{
    text-align: left;
    justify-content: left;
    font-size: 1.5em;
    line-height: 1;
    margin-left: 10px;
}
.about-about{
    display: flex;
    justify-content: space-between;
    gap: 2.5rem;
    margin-top: 10px;
}
.about-text{
    font-size: .75em;
}
.socal{
    text-align: center;
    font-size: 1em;
    line-height: 1;
    margin-right: 15px
}
.socal-icons{
    margin-top: 1rem;
    display: flex;
    justify-content: space-around;
    gap: 1rem;
}